// @use '../scss/site' as *;
@use '../scss/' as *;

body {
  border: 12pxv solid navajowhite;
  background: lavenderblush;
  padding: 15pxv;

  @include lg {
    background: oldlayce;
    border: 12pxv solid cadetblue;
    padding: 15pxv 300pxv;
  }

  @include max {
    background: lightyellow;
    border: 25pxv solid black;
  }
}

.box {
  background-color: gold;
  color: navy;
  width: 270pxv;
  height: 200pxv;
  border: 15px solid purple;

  @include lg {
    background-color: indianred;
    border: 12pxv solid goldenrod;
    color: whitesmoke;
  }
}

.color-test {
  color: rgb(38 95 51);
  font-size: 99pxv;
}