@use "../../00-sass" as *;

.color {
  &--white {
    color: $white;
  }

  &--black {
    color: $black;
  }
}

.background {
  &--white {
    color: $white;
  }

  &--black {
    color: $black;
  }
}
