@use 'settings' as *;

// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
// 📄 _primitives.scss
// System-level "physics" of the design system — how scaling, pxv units,
// and fluid typography behave under the hood. You normally don’t edit this.
// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

// 🧩  Breakpoints for Sassy mqs - see mixins
// -----------------------------------------------------------------------------
$ms: 320 !default; // Mobile small
$mm: 375 !default; // Mobile medium
$ml: 500 !default; // Mobile large
$ts: 600 !default; // Tablet small
$tm: 768 !default; // Tablet medium
$tl: 1024 !default; // Tablet large
$dxs: $tl !default; // Desktop x-small
$ds: 1280 !default; // Desktop small
$dm: 1440 !default; // Desktop medium
$dl: 1600 !default; // Desktop large
$dxl: 1800 !default; // Desktop x-large

$type-scale-breakpoint: $tm !default;

:root {
  // pxv settings - Match figma
  --mobile-min: 0;
  --mobile-basis: 375; // Figma mobile
  --mobile-max: 767;
  --desktop-min: 768;
  --desktop-basis: 1440; // Figma desktop
  --desktop-max: #{$desktop-max}; // Edit this in settings

    // pxv unit primitives
  --site-min: var(--mobile-min);
  --site-basis: var(--mobile-basis);
  --site-max: var(--mobile-max);
  --active-basis-w: 375;
  --active-basis-h: 667;
  --active-min: 0;
  --active-max: 767;
  --active-squish: 0;

  /* Scaling is 100% width-driven on mobile */
  --active-floor: 500;

  // desktop overrides - to be moved
  @media (width >=768px) {
    --active-basis-w: 1440;
    --active-basis-h: 700;
    --active-min: 768;
    --active-max: 2000;
    --active-squish: 0.5;
    --active-floor: 500;
  }

  --basis-aspect-ratio: calc(var(--active-basis-w) / var(--active-basis-h));
  --safe-vh: max(1vh, 1px * var(--active-floor) / 100);


  // pxv unit
  @if $enable-pxv {
    --pxv-unit: max((var(--active-min) * 1px / var(--active-basis-w)),
        min((var(--active-max) * 1px / var(--active-basis-w)),
          min((1vw * 100 / var(--active-basis-w)),
            calc(((1vw * 100 / var(--active-basis-w)) * (1 - var(--active-squish))) + ((var(--safe-vh) * var(--basis-aspect-ratio) * 100 / var(--active-basis-w)) * var(--active-squish))))));
  } @else {
  --pxv-unit: 1px; // effectively disables fluid scaling
}

// Fluid type primitives
--font-max-clamp: 9999px; // no touch
--font-size: 16pxv; // fluid-type base font size

// system font stacks
--font-family-system: system-ui, helvetica,arial, sans-serif;
--font-family-heading: var(--font-family-system);
--font-family-monospace: ui-monospace, sfmono-regular, menlo, monaco, consolas, 'Liberation Mono', 'Courier New', monospace;
}