@use 'settings' as *;

// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
// 📄 _primitives.scss
// System-level "physics" of the design system — how scaling, pxv units,
// and fluid typography behave under the hood. You normally don’t edit this.
// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

// 🧩  Breakpoints for Sassy mqs - see mixins
// -----------------------------------------------------------------------------
$ms: 320 !default; // Mobile small
$mm: 375 !default; // Mobile medium
$ml: 500 !default; // Mobile large
$ts: 600 !default; // Tablet small
$tm: 768 !default; // Tablet medium
$tl: 1024 !default; // Tablet large
$dxs: $tl !default; // Desktop x-small
$ds: 1280 !default; // Desktop small
$dm: 1440 !default; // Desktop medium
$dl: 1600 !default; // Desktop large
$dxl: 1800 !default; // Desktop x-large

$type-scale-breakpoint: $tm !default;

:root {
  // pxv unit primitives
  --site-min: var(--mobile-min);
  --site-basis: var(--mobile-basis);
  --site-max: var(--mobile-max);

  // pxv settings - Match figma
  --mobile-min: 0;
  --mobile-basis: 375; // Figma mobile
  --mobile-max: 767;
  --desktop-min: 768;
  --desktop-basis: 1440; // Figma desktop
  --desktop-max: #{$desktop-max}; // Edit this in settings

  // pxv unit
  @if $enable-pxv {
    --pxv-unit: clamp(calc(1px * var(--site-min) / var(--site-basis)), calc((100 / var(--site-basis)) * 1vw), calc(1px * var(--site-max) / var(--site-basis)));
  } @else {
    --pxv-unit: 1px; // effectively disables fluid scaling
  }

  // Fluid type primitives
  --font-max-clamp: 9999px; // no touch
  --font-size: 16pxv; // fluid-type base font size

  // system font stacks
  --font-family-system: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, helvetica, arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-monospace: ui-monospace, sfmono-regular, menlo, monaco, consolas, 'Liberation Mono', 'Courier New', monospace;
}
