@use '../00-config' as *;

// 🧩  Responsive Engine
// -----------------------------------------------------------------------------
// This is our magic "it just works" responsive engine but there are other
// ways to set up a primary container. Todo: show examples
// |--------------------|-------------------------------------------|-----------
// |    Mobile (375)    |              Desktop (1440)               |  No scale
// |--------------------|-------------------------------------------|-----------
// | min:320    max:767 | min:768                          max:1800 |
// |--------------------|-------------------------------------------|-----------

// kill the wp-admin bar

@include wp-admin-bar;

// Primary Media Query
@media (width >= 768px) {
  :root {
    --active-basis-w: var(--desktop-basis-w);
    --active-basis-h: var(--desktop-basis-h);
    --active-min: var(--desktop-min);
    --active-max: var(--desktop-max);
    --active-squish: var(--desktop-squish);
    --active-floor: var(--desktop-floor);
  }
}

body {
  min-height: 100vh;
}

.container {
  width: 100%;
  margin: 0 auto;

  @include lg {
    max-width: var(--container-size);
  }

  @include sm {
    padding-left: var(--mobile-gutters);
    padding-right: var(--mobile-gutters);
  }
}

.desktop-only {
  @include sm {
    display: none;
  }
}

.mobile-only {
  @include lg {
    display: none;
  }
}

#breakpoints {
  display: none;
  position: relative;
  z-index: 2;

  @include sm {
    z-index: 1;
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.abs-full {
  @include abs-full;
}

.fit-photo {
  position: relative;

  &.absolute {
    position: absolute;
  }

  > img,
  > video {
    @include abs-full;
  }

  &.cover > img,
  &.cover > video {
    object-fit: cover;
  }

  &.contain > img,
  &.contain > video {
    object-fit: contain;
  }
}
