:root {
  // defaults
  --easing: cubic-bezier(0.23, 1, 0.32, 1); // Michael Jordan Magic Johnson
  --border-radius: 5pxv;

  // default type settings
  --font-min-clamp: 11px; // default min-size for all type
  --line-height: 1.5; // default line height
  --text-wrap: pretty; // default
  --letter-spacing: normal; // 0.01em etc - match figma
  --type-margin: 15pxv; // Bottom spacing under type elements todo: replace with spacing var

  // container settings:
  --container-size: 1280pxv;
  --mobile-gutters: 5%;
}
