@use '../00-config' as *;

// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
// 📄 _typography.scss
// Type system + custom styles
// ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░

// Toggle fluid-type in settings.scss
@if $enable-fluid-type {
  @include fluid-type;
}

// Set top level rules
html {
  font-family: var(--font-family-system); // edit me
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  text-wrap: var(--text-wrap);
}

// Rules for all text elements
:where(p, h1, h2, h3, h4, h5, h6, ul, ol, dl, blockquote, pre, figure) {
  margin-block-end: var(--type-margin);
}

// Header specific styles
:where(h1, h2, h3, h4, h5, h6) {
  line-height: 1.2;
}

// Code looks like code
code, kbd, samp, pre, tt {
  font-family: var(--font-family-monospace);
}

// Open up lineheight for longform reading
.longform {
    line-height: 1.5;
}

// Indivdual headings are based on  $type-scale in settings.scss
h1, .h1 {
    @include type-scale(header-xxl);
    // // note you can do overwrites here
    // --font-min-clamp: 52px;
    // --font-max-clamp: 68px;

    line-height: 1.2; // edit me
}

h2, .h2 {
    @include type-scale(header-xl);
  --font-min-clamp: 28px;    

//  Setting max-clamp in a small mq probably a good idea
//   @include sm {
//     --font-max-clamp: 32px;
//   }
}

h3, .h3 {
    @include type-scale(header-l);
  --font-min-clamp: 24px;      
}
h4, .h4 {
    @include type-scale(header-m);
    --font-min-clamp: 20px;      
}
h5, .h5 {
    @include type-scale(header-s);
    --font-min-clamp: 18px;       
}
h6, .h6 {
    @include type-scale(header-xs);
    --font-min-clamp: 16px;    
}

// does p get default styles 🤔
// p {
//   @include type-scale(body-m);
//     --font-min-clamp: 12px;
// }

.body-l {
    @include type-scale(body-l);
    --font-min-clamp: 14px;
}
.body-m {
    @include type-scale(body-m);
}
.body-s {
    @include type-scale(body-s);
}
.body-xs {
    @include type-scale(body-xs);
}
.body-xxs {
    @include type-scale(body-xxs);
}
.body-xxxs {
    @include type-scale(body-xxxs);
}